@using Quizard.ViewModels
@model AddSectionViewModel


<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" id="add-section-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLongTitle">Add A New Section</h5>
            </div>

            <div class="modal-body">
                <form action="AddSection">

                    <input type="hidden" asp-for="@Model.Section.QuizId" name="QuizId" value="@Model.QuizId">

                    <div class="form-group">
                        <label asp-for="@Model.Section.SectionName" class="col-form-label">* Section Title:</label>
                        <textarea name="SectionName" asp-for="@Model.Section.SectionName" class="form-control" id="question-name-text" placeholder="Section Name"></textarea>
                    </div>

                    <br />

                    <div class="form-group">
                            <label asp-for="@Model.Section.RequiredQuestions" class="col-form-label">Required amount of questions to answer:</label>
                            <input name="RequiredQuestions" asp-for="@Model.Section.RequiredQuestions" type="text" class="form-control" id="inlineFormInputMark" placeholder="2" autocomplete="off">
                        </div>

                </form>
            </div>


            <div class="modal-footer">
                <div class="col text-center">
                    <button type="button" class="button--save" data-bs-dismiss="modal" id="exit-edit-modal">Cancel</button>
                    <button type="button" class="button--save" data-new-section="modal" id="save-confirm">Add New Section</button>
                </div>
            </div>
        </div>
    </div>
</div>
