@using Quizard.ViewModels
@model AddQuestionViewModel

<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" id="add-question-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLongTitle">Add Question</h5>
            </div>

            <div class="modal-body">
                <form action="AddQuestion">

                    <input type="hidden" asp-for="@Model.QuizId" name="Id" value="@Model.QuizId">

                    <div class="form-group">
                        <label asp-for="@Model.Question.QuestionTitle" class="col-form-label">Question TItle:</label>
                        <textarea asp-for="@Model.Question.QuestionTitle" class="form-control" id="question-name-text" placeholder="Your Question Title"></textarea>
                    </div>


                    <div class="form-group">
                        <label for="Module" class="col-md-2"></label>
                        <div class="col-md-10">
                            <label for="Module" class="col-form-label">Question Type:</label>
                            <select asp-for="@Model.Question.QuestionType" asp-items="@Model.QuestionTypeList" class="form-control" name="QuestionType" id="QuestionType">
                                <option disabled selected>--Select Question Type--</option>
                            </select>
                        </div>
                    </div>

                    <br />

                    <div id="new-question-attributes">
                        <div class="form-group" id="attributes">
                            <label asp-for="@Model.Question.Mark" class="col-form-label">Mark Weight:</label>
                            <input asp-for="@Model.Question.Mark" type="text" class="form-control" id="inlineFormInputMark" placeholder="5" autocomplete="off">
                        </div>
                        <div class="form-group" id="attributes">
                            <label asp-for="@Model.Question.ErrorMargin" class="col-form-label">Margin of error:</label>
                            <input asp-for="@Model.Question.ErrorMargin" type="text" class="form-control" id="inlineFormInputMargin" placeholder="0.5" autocomplete="off">
                        </div>
                        <div class="form-group" id="attributes">
                            <label asp-for="@Model.Question.NegativeMark" class="col-form-label">Negative Marking:</label>
                            <input asp-for="@Model.Question.NegativeMark" type="text" class="form-control" id="inlineFormInputNegative" placeholder="0.25" autocomplete="off">
                        </div>
                    </div>

                    <br />

                    <h3 class="modal-title text-center w-100" id="exampleModalLongTitle">Add Answers</h3>

                    <div class="add-ans">
                        <div id="custom-add-box">
                            <div id="add-container">
                                <label class="check-container">
                                    @Html.CheckBoxFor(model => model.Correct, new { id="ansCheck"})
                                    @*<label asp-for="@Model.Quiz.Shuffled" class="col-form-label" name="Shuffled">Shuffle Questions</label>*@
                                    <div class="checkmark"></div>
                                </label>
                                <input asp-for="@Model.Answer.QuestionAnswer" name="Answers[0]" type="text" id="ans-txt" class="form-control" aria-label="Text input with checkbox" placeholder="Answer Text" autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                        <div class="btn-group mr-2" role="group" aria-label="Second group">
                            <button type="button" class="btn btn-secondary" id="del-ans">-</button>
                            <button type="button" class="btn btn-secondary" id="add-ans">+</button>
                        </div>
                    </div>


                </form>
            </div>


            <div class="modal-footer">
                <div class="col text-center">
                    <button type="button" class="button--save" data-bs-dismiss="modal" id="exit-edit-modal">Cancel</button>
                    <button type="button" class="button--save" data-new-question="modal" id="save-confirm">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
