@model Quizard.ViewModels.CreateQuizViewModel

<script src="~/js/site.js" asp-append-version="true"></script>


<div id="containers">
    @foreach (var Qsection in Model.Sections.Where(i => i.QuizId.Equals(Model.Quiz.Id)))
    {
        @*<div class="frame">*@
            <div class="popup" id="@(Qsection.Id)">
                <h3> @Qsection.SectionName </h3>
                @foreach (var question in Model.ParentQuestions.Where(i => i.SectionId.Equals(Qsection.Id)))
                {
                    <div class="object" id="@(question.Id)">
                        @question.QuestionTitle
                        @*<div class="panel">
                        @if(question.QuestionAnswers != null)
                        {
                            foreach(Answer ans in question.QuestionAnswers)
                            {
                                <li> @ans.QuestionAnswer </li>
                            }
                        }
                        </div>*@

                        @Html.Partial("_QuestionPartial", question.Children)

                    </div>
                }
            </div>
        @*</div>*@
    }
</div>



