@model Quizard.ViewModels.CreateQuizViewModel

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="//code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<script>
    $(document).ready(function() {
        $("#sortable").sortable({
            update: function(event, ui) {
                var itemIds = "";
                $("#sortable").find(".taskSingleInline").each(function() {
                    var itemId = $(this).attr("data-taskid");
                    itemIds = itemIds + itemId + ",";
                });
                $.ajax({
                    url: '@Url.Action("Update", "Quiz")',
                    data: { itemIds: itemIds },
                    type: 'POST',
                    success: function(data) {

                    },
                    error: function(xhr, status, error) {

                    }
                });
            }
        });
    });
</script>

<style>
    #sortable tr:hover {
        background-color: blue;
        color: #fff;
    }
</style>





<h1> @Model.Quiz.QuizName </h1>
<br />

@{
    var i = 1;
}
<div class="QuestionAccordian">
    <div class="panel-group" id="accordionY">
        @foreach (var question in Model.Questions)
        {
            <div class="accordion accordion-flush" id="accordionFlushExample" draggable="true">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            <p>@question.QuestionTitle</p>
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            @foreach (var answer in Model.Answers.Where(i => i.QuestionId.Equals(question.Id)))
                            {
                                @*<p>@answer.QuestionAnswer</p>*@

                                @if (answer.isCorrect.Contains("Correct"))
                                {
                                    <strong>@answer.QuestionAnswer</strong>
                                }
                                else
                                {
                                    @answer.QuestionAnswer
                                }
                                <br />
                            }
                        </div>
                    </div>
                </div>
            </div>
            i++;
        }
    </div>
</div>










@*JQuery drag and drop*@

@*
<div class="container">
    <div class="QuizAccordian">
        <div class="panel-group" id="accordionY">
            @{
                int ij = 1;
            }
            @foreach (var question in Model.Questions)
            {
                <div class="accordion accordion-flush" id="accordionFlushExample" draggable="true">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                <p>@question.QuestionTitle</p>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                @foreach (var answer in Model.Answers.Where(i => i.QuestionId.Equals(question.Id)))
                                {


                                    @if (answer.isCorrect.Contains("Correct"))
                                    {
                                        <strong>@answer.QuestionAnswer</strong>
                                    }
                                    else
                                    {
                                        @answer.QuestionAnswer
                                    }
                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
                ij++;
            }
        </div>
    </div>
</div>

*@
<a class="btn btn-primary" href="@Url.Action("Update", "Quiz")">Save</a>






@*WORKING TABLE*@

<div class="container">
    <div class="col-md-6">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody id="sortable" style="cursor:pointer;">
                @foreach (var question in Model.Questions)
                {
                    <tr>
                        <td>@question.Id</td>
                        <td class="taskSingleInline" id="task@(question.Id)" data-taskid=@(question.Id)>@question.QuestionTitle</td>
                        <td>@question.QuestionPosition</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>







@*acordian test*@

@*<br /><br /><br />


@{
    var counter = 1;
}

<div class="bs-example" id="AccordianList">
    <div class="panel-group" id="accordionY">
        @{
            int ij = 1;
        }
        @foreach (var question in Model.Questions)
        {
            <div class="row">
                <div class="col">
                    <div class="tabs">
                        <div class="tab">
                            <input type="checkbox" id=@ij>
                            <label class="tab-label" for=@ij>Question @counter: @question.QuestionTitle</label>
                            <div class="tab-content">

                                @foreach (var answer in Model.Answers.Where(i => i.QuestionId.Equals(question.Id)))
                                {
                                    @if (answer.isCorrect.Contains("Correct"))
                                    {
                                        <strong>@answer.QuestionAnswer</strong>
                                    }
                                    else
                                    {
                                        @answer.QuestionAnswer
                                    }
                                    <br />
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            ij++;
            counter++;
        }
    </div>
</div>*@











@*QUICKVIEW QUIZ*@

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<input id="QuizId"
       name="QuizId"
       type="hidden"
       value="@Model.Quiz.Id" />

<h1> @Model.Quiz.QuizName Test</h1>

<form method="post" asp-action="AddSection" enctype="multipart/form-data">
    <div id="CreateSection">
        <label asp-for="SectionName"> Add Section </label>
        <input asp-for="SectionName" class="form-control" placeholder="Section Name" style="width:500px;">
        <span asp-validation-for="SectionName" class="text-danger"></span>
        <button type="submit" class="btn btn-primary">Add Section</button>
    </div>
</form>

<br />

<h1>Sections</h1>
@foreach (var Qsection in Model.Sections.Where(i => i.QuizId.Equals(Model.Quiz.Id)))
{
    <h2> @Qsection.SectionName </h2>
    <h3>Questions</h3>

    @foreach (var question in Model.Questions.Where(i => i.SectionId.Equals(Qsection.Id)))
    {
        <ul> <strong> @question.QuestionTitle </strong> </ul>

        @foreach (var answer in Model.Answers.Where(i => i.QuestionId.Equals(question.Id)))
        {
            <ul> @answer.QuestionAnswer </ul>
        }
    }
}
