@model Quizard.ViewModels.CreateQuizViewModel

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
  <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js">
  </script>


@Html.HiddenFor(x => x.Quiz.Id, new { id = "HiddenQuizId" })
<body>



    <div class="flex-container">

        <div class="controls">
            <h4 class="quizName"> @Model.Quiz.QuizName </h4>

            <div class="input-group">
                <input type="text" class="input" id="AddSectionName" placeholder="Add Section" autocomplete="off">
                <input class="button--add" value="Add" type="submit" id="AddSectionBtn" onclick="AddSection()">
            </div>

            <div class="input-group">
                @*<button type="submit" class="button--save" data-toggle="add-question-modal" data-url="@Url.Action("ShowAddQuestionModal", "Quiz", new { id = @Model.Quiz.Id  })">Add Question</button>*@
                <button type="submit" class="button--save" data-toggle="add-casestudy-modal" data-url="@Url.Action("ShowCaseStudyModal", "Quiz", new { quizId = @Model.Quiz.Id  })">Add Case Study</button>
            </div>

            <div class="input-group">
                <input class="button--save" value="Save" type="submit" onclick="SavePosition()">
                <input class="button--save" value="Dashboard" type="submit" onclick="location.href='@Url.Action("Index", "Dashboard")'">
                <input class="button--save" value="Delete Quiz" type="submit" id="del-quiz" onclick="DeleteQuiz(@Model.Quiz.Id)">
            </div>

        </div>

        <div class="quiz-wrapper" id="partialZone">
            @{
                Html.RenderPartial("_Section");
            }
        </div>

    </div>

    <div id="modal-zone"></div>

</body>

<!-- Delete Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLongTitle">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="exit-modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center w-100">
                The contents will be permanently deleted, are you sure?
            </div>
            <div class="modal-footer">
                <div class="col text-center">
                    <button type="button" class="button--save" data-dismiss="modal" id="exit-delete-modal">Cancel</button>
                    <button type="button" class="button--save" id="del-confirm">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>

