@model Quiz


<!-- Large modal -->
<div class="modal fade bd-example-modal-lg" id="modal-edit" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLongTitle">Edit Quiz</h5>
            </div>

            <div class="modal-body">
                <form action="UpdateQuiz">
                    <div class="form-group">
                        <label asp-for="QuizName" class="col-form-label">Edit Text:</label>
                        <textarea asp-for="QuizName" class="form-control" id="quiz-text" placeholder="@Model.QuizName"> @Model.QuizName </textarea>
                    </div>

                    <input type="hidden" asp-for="Id" name="Id" value="@Model.Id">

                    <div class="form-group">
                        <label for="Module" class="col-form-label">Module:</label>
                        <input for="Module" type="text" class="form-control" id="inlineFormInputName" placeholder="CS101">
                    </div>
                    <div class="form-group">
                        <label asp-for="TimeLimit" class="col-form-label">Quiz Duration:</label>
                        <input asp-for="TimeLimit" type="text" class="form-control" id="inlineFormInputName" placeholder="45" value="@Model.TimeLimit">
                    </div>

                    <br />
                    @*<p> WHY HAVE YOU BROKE</p>*@

                    <div class="form-group">
                        <label class="check-container">
                        @Html.CheckBoxFor(model => model.Shuffled)
                        <label asp-for="Shuffled" class="col-form-label">Shuffle Questions</label>
                        <div class="checkmark"></div>
                        </label>
                    </div>

                    <div class="form-group">
                        <label class="check-container">
                        @Html.CheckBoxFor(model => model.Deployed)
                        <label asp-for="Deployed" class="col-form-label">Quiz Deployed</label>
                        <div class="checkmark"></div>
                        </label>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <div class="col text-center">
                    <button type="button" class="button--save" data-bs-dismiss="modal" id="exit-edit-modal">Cancel</button>
                    <button type="button" class="button--save" data-save-quiz="modal" id="save-options-confirm">Save Changes</button>
                </div>
            </div>

        </div>
    </div>
</div>
