@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@model Quizard.ViewModels.DashboardViewModel


<h1> Dashboard </h1>
@if (User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("teacher"))
    {
        <p> Welcome back, master quizard! </p>
    }
    else if (User.IsInRole("student"))
    {
        <p> Welcome back, apprentice quizard!</p>
    }
    else if (User.IsInRole("admin"))
    {
        <p> Welcome back, grand quizard overseer supreme!</p>
    }
    else
    {
        <p> There is some error in the cosmos...</p>
    }
}

<br />

<body>
    <div class="quiz-table">
        <table id="example" class="display" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Quiz</th>
                    <th>Date Updated</th>
                    <th>Module</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Quizzes)
                {
                    <tr class="table-row">
                        <td>@item.QuizName</td>
                        <td>@item.DateCreated <br /></td>
                        <td>
                            @if (item.ModuleId != null)
                            {
                                @(item.Module.ModuleCode)
                            }
                        </td>
                        <td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                @if (User.IsInRole("teacher"))
                                {
                                    <button type="submit" class="button-table" onclick="DeleteQuiz(@item.Id)">Delete</button>
                                    @*<button type="submit" class="button-table">Publish</button>*@
                                    <button type="submit" class="button-table" onclick="location.href='@Url.Action("Create", "Quiz", new { QuizId = item.Id })'">Edit</button>
                                    <button type="submit" class="button-table" data-toggle="quiz-options-modal" data-url="@Url.Action("ShowOptionsModal", "Dashboard", new { id = @item.Id  })">Options</button>
                                    @if (item.Deployed)
                                    {
                                        <button type="submit" class="button-table" onclick="location.href='@Url.Action("QuizDeployment", "Dashboard", new { QuizId = item.Id })'">Undeploy</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="button-table" onclick="location.href='@Url.Action("QuizDeployment", "Dashboard", new { QuizId = item.Id })'">Deploy</button>
                                    }
                                }
                                else if (User.IsInRole("student"))
                                {
                                    <button type="submit" class="button-table">Take Quiz</button>
                                }
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>

<br />
<div class="upload-container">
    <label class="form-label"><strong> Upload a .txt Quiz! </strong></label>
    <div class="mb-3 mt-3">
        <form method="post" enctype="multipart/form-data" asp-controller="Dashboard" asp-action="UploadQuiz">
            <input type="hidden" id="UserId" name="UserId" asp-for="UserId" />
            <div class="input-group">
                <input type="file" name="file" id="UploadAlt">
                <input class="button--add" value="Upload" type="submit" id="AddSectionBtn">
            </div>
        </form>
    </div>
</div>
<br />


<div id="modal-zone"></div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center w-100" id="exampleModalLongTitle">Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="exit-modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center w-100">
                The contents will be permanently deleted, are you sure?
            </div>
            <div class="modal-footer">
                <div class="col text-center">
                    <button type="button" class="button--save" data-dismiss="modal" id="exit-modal">Cancel</button>
                    <button type="button" class="button--save" id="del-confirm">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>