@model Quizard.ViewModels.TakeQuizViewModel

<p> Section <strong>1</strong> of <strong>2</strong> </p>


<div class="Take-Section">

    <form action="TakeSection">

        @{
            int i = 1;
        }

        <h2>@Model.Section.SectionName</h2>
        <br />

        @foreach (var question in Model.ParentQuestions.Where(i => i.SectionId.Equals(Model.Section.Id)))
        {
            <div class="Take-Question" id="@(question.Id)">

                @if (question.QuestionType == Quizard.Data.Enum.QuestionType.GROUP)
                {
                    <strong>Question @i: @question.QuestionTitle</strong>
                }
                else
                {
                    <strong>Question @i: @question.QuestionTitle</strong>
                }

                @if (question.QuestionType == Quizard.Data.Enum.QuestionType.ESS || question.QuestionType == Quizard.Data.Enum.QuestionType.SR)
                {
                    <div class="form-group">
                        @*<label for="@question.QuestionAnswers" class="col-form-label">Answer:</label>*@
                        <textarea for="@question.QuestionAnswers" class="form-control" id="answer" placeholder="Answer Here:"></textarea>
                    </div>
                }
                else if (question.QuestionType == Quizard.Data.Enum.QuestionType.FIB || question.QuestionType == Quizard.Data.Enum.QuestionType.NUM)
                {
                    <div class="form-group">
                        @*<label for="@question.QuestionAnswers" class="col-form-label">Answer:</label>*@
                        <input for="@question.QuestionAnswers" type="text" class="form-control" placeholder="Answer Here:" autocomplete="off">
                    </div>
                }
                else if (question.QuestionType == Quizard.Data.Enum.QuestionType.MC || question.QuestionType == Quizard.Data.Enum.QuestionType.TF)
                {
                    foreach (var ans in question.QuestionAnswers)
                    {
                        <div class="add-ans" id="single">
                            <div id="custom-add-box">
                                <div id="choice-container">
                                    <label class="check-container">
                                        <input value="1" type="checkbox" id="check-single" no="@ans.Id">
                                        <div class="checkmark"></div>
                                    </label>
                                    <label for="answer" class="col-form-label">@ans.QuestionAnswer</label>
                                </div>
                            </div>
                        </div>
                    }
                }

                else if (question.QuestionType == Quizard.Data.Enum.QuestionType.MA)
                {
                    foreach (var ans in question.QuestionAnswers)
                    {
                        <div class="add-ans">
                            <div id="custom-add-box">
                                <div id="choice-container">
                                    <label class="check-container">
                                        <input value="1" type="checkbox">
                                        <div class="checkmark"></div>
                                    </label>
                                    <label for="answer" class="col-form-label">@ans.QuestionAnswer</label>
                                </div>
                            </div>
                        </div>
                    }
                }

                @if (question.Mark != null)
                {
                    <i> @question.Mark Marks </i>
                }

                @Html.Partial("_TakeQuestionPartial", question.Children)

            </div>

            <br />

            i++;

        }

    </form>

    <div class="nav-buttons">
        <button type="submit" class="button--save" onclick="PreviousSection()">Previous Section</button>
        <button type="submit" class="button--save" onclick="NextSection()">Next Section</button>
    </div>

</div>