@model Quizard.ViewModels.CreateQuizViewModel

@Html.HiddenFor(x => x.Quiz.Id, new { id = "HiddenQuizId" })


<div class="take-container">

    <div class="countdown-outer">
        <div class="countdown">
            <p id="timer" time="@Model.Quiz.TimeLimit">
                @Model.Quiz.TimeLimit Minutes
            </p>
        </div>
    </div>

    <div class="description-outer" id="description">
        <div class="description-box">
            <h1> @Model.Quiz.QuizName </h1>
            <br />
            <p> You will have <strong>@Model.Quiz.TimeLimit minutes</strong> to complete the quiz.</p>
            <p> Answer all the <strong>required questions</strong>. When you are done, click next to continue to the next page. </p>
            <p> Your progress is saved automatically as you move to the next or previous section. You can also manually save via the <strong>Save Button</strong></p>
            <p> If the <strong>time limit runs out</strong> before you are finished, it will save the progress you have made and close the quiz. </p>
            <p> When you are finished, click <strong>submit</strong> to end the quiz.</p>
            <p><strong>Good luck!</strong></p>
            <div class="take-description-buttons">
                <button type="submit" class="button--save" onclick="location.href='@Url.Action("Index", "Dashboard")'">Go Back</button>
                <button type="submit" class="button--save" onclick="BeginQuiz()">Begin Quiz</button>
            </div>
        </div>
    </div>

    <div class="take-quiz-container" data-index="0"></div>


</div>




@section scripts {

    <script>

        // COUNTDOWN
        const countdown = document.getElementById('timer');
        const minuteDuration = countdown.getAttribute('time');
        let time = minuteDuration * 60;

        function Countdown() {
            setInterval(UpdateCountdown, 1000);
        }

        function UpdateCountdown() {
            const minutes = Math.floor(time / 60);
            let seconds = time % 60;
            var hours = Math.floor(minutes / 60);

            seconds = seconds < 10 ? '0' + seconds : seconds;

            countdown.innerHTML = `${hours} : ${minutes} : ${seconds}`
            time--;

            // if time = zero submit page and load completed page.
            if (time === 0) {
                window.location.href = '/TakeQuiz/Completed/';
            }
        }

    </script>

}